@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    <div><label>Email</label><input name="email" class="form-control" value="admin@fiap.com" /></div>
    <div><label>Senha</label><input name="password" type="password" class="form-control" value="admin123" /></div>
    <button class="btn btn-primary mt-2">Entrar</button>
    <span class="text-danger">@ViewBag.Error</span>
</form>
